@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans Arabic', 'Noto Sans Arabic', sans-serif;
  direction: rtl;
  background-color: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
